header {
  background-color: aliceblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

li {
  display: inline;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: greenyellow;
}

.blue {
  color: lightskyblue;
}

.indigo {
  color: purple;
}

.violet {
  color: violet
}